.container {
  width: 90%;
  margin: auto;
}

.table {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  color: green;
}

button {
  margin-left: 10%;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background: gray;
  color: white;
  font-weight: bold;
}

#result {
  margin-left: 20%;
  margin-top: 30px;
}
