.container {
  width: 90%;
  margin: auto;
}

.table {
  display: flex;
  justify-content: space-around;
}

#result {
  color: navy;
}

h1 {
  text-align: center;
}

#result {
  text-align: center;
}
